.comments {
  background: #f6f6f6;
  padding: 10px;
}

#comment-card {
  padding: 0px;
  margin: 0px;
}

.btn-wc {
  background: #09c !important;
}

.no-pad-no-margin {
  padding: 0 !important;
  margin: 0 !important;
}

.margin-top {
  margin-top: 15px !important;
}

.wc-brand-fore {
  color: #09c;
}

/* COMMENT INPUT  */

.comment-photo-ctn {
  max-width: 34px;
}

.comment-input-photo {
  height: 34px;
  width: 27.6;
}

.comment-input-field {
  padding-right: 8px !important;
  width: 100%;
}

.comment-input-submitbtn {
  padding-left: 5px;
  padding-top: 2px;
  max-width: 50px;
}

.comment-input-submitbtn button {
  height: 34px;
}

/* COMMENT LIST */

.comment-ctn {
  width: 100%;
  float: left;
  min-height: 50px;
  padding: 0px 0px 9px 0px;
}

.comment-ctn.reply {
  margin-bottom: 0px;
  padding: 0;
}

.comment-photo-ctn {
  width: 34px
}

.comment-list-ctn li {
  position: relative;
  list-style: none;
}

.comment-edit-input {
  margin-bottom: 8px;
  border-radius: 0;
}

.comment-edit-input span {
  /* padding: 0px 0px 0px 5px; */
  border: none;
}

.comment-edit-input span button {
  height: 34px;
}

.comment-likes-ctn {
  margin-left: 25px;
}

.comment-liker {
  width: 200px;
  padding-left: 15px;
}
.comment-likerslist {
  min-height: 30px;
  max-height: 130px;
  min-width: 220px;
  overflow: auto;
}

.comment-actions {
  margin-right: 8px;
  color: #09C;
}

.comment-edit-btn {
  float: right;
  right: 5px;
  top: 8px;
}

.comment-edit-btn:hover {
  cursor: pointer;
  color: #09c;
}

.comment-comment-text p {
  margin-bottom: 5px;
  /* word-break:break-all !important; */
}

.comment-comment-text iframe{
    max-width:640px; 
    max-height:360px;
  }

  .comment-comment-text img{
    max-width:640px;
  }

.comment-actions:hover {
  cursor: pointer;
  color: #09c;
}

.comment-reply-ctn {
  padding-left: 30px;
}

.comment-reply {
  margin-bottom: 7px;
}

.comment-show-more {
  text-decoration: underline;
  margin-bottom: 3px;
  color: #09c;
}

.comment-show-more-reply {
  text-decoration: underline;
  margin-bottom: 12px;
  color: #09c;
}

.comment-show-more-reply:hover,
.comment-show-more:hover {
  cursor: pointer;
  opacity: 0.8;
}

.comment-reply-input-ctn {
  padding-left: 32px;
}

.comment-reply-input-ctn input {
  border-radius: 0;

}
.hand{
    cursor: pointer;
}

/* .dropdown-menu.dropdown-menu-right {
  position: relative;
} */

/* .dropdown {
    cursor: pointer;
} */

.btn-group.dropdown.open {
    
}

.dropdown.open .dropdown-menu{

}

.tinyInlineBox,
.comment-editComment-input {
  padding: 1px 6px 0px 6px;
  line-height: 17px;
  min-height: 34px !important;
  height: auto !important;
}

.comment-editComment-input p {
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: 5px;
}

.comment-time {
  color: gray;
  font-size: 11px;
}

.mce-btn-has-text {
  padding-right: 0px !important;
}